</body>
<footer>
    <a href="map" id="footer-button-2" class="footer-button">
        <p>Kaart</p>
    </a>
    <a href="/" id="footer-button-1" class="footer-button active">
        <p>Maak<br>reservering</p>
    </a>
    <a href="/verify" id="footer-button-3" class="footer-button">
        <p>Beheer<br>reservering</p>
    </a>
</footer>

</html>