</body>
    <footer>
        <div class="footer-button active">
            <a href="#">
                <p>Maak<br>reservering</p>
            </a>
        </div>
        <div class="footer-button">
            <a href="#">
                <p>Beheer<br>reservering</p>
            </a>
        </div>
    </footer>
</html>