</body>
    <footer>
        <a href="/" id="footer-button-1" class="footer-button active">
            <p>Maak<br>reservering</p>
        </a>
        <a href="/manage" id="footer-button-2" class="footer-button">
            <p>Beheer<br>reservering</p>
        </a>
    </footer>
</html>