<%- include('./components/head.ejs') -%>

    <div class="container margin-top30">
        <h1>Reserveer smart zone </h1>
        <p>Reserveer hier je smartzone, zodat je niet meer hoeft te wachten!</p>
        <form action="/reserve" method="POST">
            <label>Je nummerbord</label>
            <input type="text" maxlength="8" name="kenteken" required>

            <label>Je e-mailadres</label>
            <input type="email" name="email" required>

            <input type="submit" value="Maak reservering">
        </form>
    </div>

<%- include('./components/footer.ejs') -%>

