<%- include('./components/head.ejs') -%>
<script src="/js/mapCode.js" defer></script>

<div class="container">
  <div id="map" class="maptest"></div>
</div>

<%- include('./components/footer.ejs') -%>

