<%- include('./components/head.ejs') -%>

    <div class="container margin-top30">
        <h1>Wil je nu of later reserveren?</h1>
        <p>Keuzes, keuzes, keuzes...</p>
        <a href="" class="button_select">
          <p>Nu reserveren</p>
        </a>
        <a href="" class="button_select">
            <p>Latere tijd kiezen</p>
        </a>
    </div>

<%- include('./components/footer.ejs') -%>
