<%- include('./components/head.ejs') -%>
<script src="/js/checkboxChecker.js" defer></script>

<div class="container margin-top30">
  <section class="responsive">
    <h1>Hoelaat wil je hier staan?</h1>
    <p id="maxAantal">Kies maximaal 2 tijden</p>
    <form action="/addtime" method="post" class="timelistclass" name="checkTime" id="checkTime" novalidate>
      <div class="scrollable">
        <input type="checkbox" name="time" id="1315" required hidden disabled>
        <label for="1315">13:00 - 13:15</label>

        <input type="checkbox" name="time" id="1330" value="13:15 - 13:30" required hidden>
        <label for="1330">13:15 - 13:30</label>

        <input type="checkbox" name="time" id="1345" value="13:30 - 13:45" required hidden>
        <label for="1345">13:30 - 13:45</label>

        <input type="checkbox" name="time" id="1400" value="13:45 - 14:00" required hidden>
        <label for="1400">13:45 - 14:00</label>

        <input type="checkbox" name="time" id="1415" required hidden disabled>
        <label for="1415">14:00 - 14:15</label>

        <input type="checkbox" name="time" id="1430" required hidden disabled>
        <label for="1430">14:15 - 14:30</label>

        <input type="checkbox" name="time" id="1445" value="14:30 - 14:45" required hidden>
        <label for="1445">14:30 - 14:45</label>

        <input type="checkbox" name="time" id="1500" value="14:45 - 15:00" required hidden>
        <label for="1500">14:45 - 15:00</label>

        <input type="checkbox" name="time" id="1515" value="15:00 - 15:15" required hidden>
        <label for="1515">15:00 - 15:15</label>

        <input type="checkbox" name="time" id="1530" value="15:15 - 15:30" required hidden>
        <label for="1530">15:15 - 15:30</label>
      </div>
      <input type="submit" value="Kies deze tijd(en)" id="btn">
    </form>
  </section>
</div>

<%- include('./components/footer.ejs') -%>